<div class="row">
  <div class="col-lg-9">
    <h1>Comparing OCC Model of Emotions with ACT's Emotional Predictions on Steamboat Willie, Disney Studio, 1928</h1>

    <p>
      On this site I would present a detailed analysis of Steamboat Willie, a Disney Studio, 1928 movie to compare the emotional predictions of <%= link_to "OCC Model of Emotions", occ_model_path %> with that of <%= link_to "Affect Control Theory (ACT)", "http://www.indiana.edu/~socpsy/ACT/", target: 'blank' %>. It consists of an empirical study to test the idea that many appraisal rules of OCC Model are implicitly encoded in ACT. Similarly to applying OCC rules to movies/books, this project involves labelling the scenes in ACT's subject-verb-object format to see which emotions Interact comes up with. I first converted the Steamboat Willie clip to a <%= link_to "vignette", sw_vignette_path %> and then extracted scenes in form of ACT's subject-verb-object format from it. 
    </p>
    <p>
      The hypothesis is that there will be a huge overlap, which would suggest that it may be possible to get rid of many explicit rules, as they kind of emerge from the more general algorithm used in Interact. This hypothesis is confirmed as shown on <%= link_to "INTERACT Basic", interact_basic_path %> and <%= link_to "INTERACT Advance Functions", interact_advanced_path %> pages in scene-by-scene comparison with <%= link_to "OCC Model of Emotion", occ_model_path %>. Although not all the words for emotions in OCC Model match with that of INTERACT's emotional predictions, they more or less convey the same meaning. Moreover ACT is totally dependent on interactants' identities in predicting emotions. This becomes even more complex when INTERACT is used with Advance Functions, in which ACT's predictions are not only dependent on identities of the interactants, but also the setting, attribute and experiencer. I have presented one such scenario on <%= link_to "INTERACT Advance", interact_advanced_path %> page, where I analyze all the events from Mickey the Joyful Worker's perspective in an office setting, where Pete is Mickey's Abusive Boss, Parrot is an Unfriendly Loafer and Minnie is an Affectionate Traveller.
    </p>
    <p>
      I present a brief <%= link_to "discussion", discussion_path %> of OCC Model of Emotion and  Affect Control Theory and why a Disney Studio animation movie is chosen to compare these models in terms of their emotional predictions. I came up with a <%= link_to "vignette for the Steamboat Willie", sw_vignette_path %> and subsequently converted that vignette in a sequence of events in ACT's subject-verb-object format. I used <%= link_to "INTERACT", "http://www.indiana.edu/~socpsy/ACT/interact.htm", target: 'blank' %> to evaluate ACT's emotional predictions for Steamboat Willie scenes. 
    </p>
    <p>
      I believe more closer results can be achieved in terms of emotional predictions of OCC model and ACT. Since ACT is sensitive to the setting, assumed and perceived identities along with attributes, one can come up with the optimal configuration for INTERACT to bring ACT prediction closer to that of OCC Model. For example, although Mickey thinks of himself as a Joyful Worker, but when analyzing events from Pete's perspective, Mickey fits the profile of a Lazy Worker and Pete himself could better assume the profile of a Strict Boss. A reasonable overlap is already shown even by only using INTERACT's basic functions, and once the scene have been converted to ACT's sub-verb-obj format, running INTERACT on those sequence of events with different profiles of interactants is a straight forward exercise.
    </p>
    <h3>References:</h3>
    <ul>
      <li>
        <a href="https://cs.uwaterloo.ca/~jhoey/SteamboatWillie/OCCSteamboatWillie.html">
          https://cs.uwaterloo.ca/~jhoey/SteamboatWillie/OCCSteamboatWillie.html
        </a>
      </li>
      <li>
        MacKinnon, Neil Joseph. Symbolic interactionism as affect control. SUNY Press, 1994.
        <a href="http://www.amazon.com/Symbolic-Interactionism-Control-Sociology-Emotions/dp/0791420426">Amazon</a>
      </li>
      <li>
        Ortony, Clore and Collins. The Cognitive Structure of Emotions, Cambridge University Press, 1988. 
        <a href="http://www.amazon.ca/Cognitive-Structure-Emotions-Andrew-Ortony/dp/0521386640">Amazon</a>
      </li>
      <li>
        <a href="http://www.indiana.edu/~socpsy/ACT/interact.htm">
          http://www.indiana.edu/~socpsy/ACT/interact.htm
        </a>
      </li>
    </ul>
  </div>

  <div class="col-lg-3">
    <div class="well sidebar-nav">
      <h3>Zeeshan Malik</h3>
      <ul class="nav nav-list">
        <li><a href="https://cs.uwaterloo.ca/~jhoey/teaching/cs886-affect/index.html" target=_blank>CS 886: Affective Computing</a></li>
        <li><a href="https://uwaterloo.ca" target=_blank>University of Waterloo</a></li>
        <li><a href="mailto:z4malik@uwaterloo.ca">z4malik@uwaterloo.ca</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

</div>
