<h1 style="text-align:center;margin-bottom:20px;">Steamboat Willie, Disney Studios, 1928</h1>

<div class="col-lg-12" style="text-align:center;">
  <iframe width="420" height="315" frameborder="0" allowfullscreen 
          src="https://www.youtube.com/embed/BBgghnQF6E4" ></iframe>

</div>
<div class="col-lg-6">
<h2>Steamboad Willie - Vignette</h2>
<p>
Micky is a happy guy who likes boats and sailing. For this he has taken up a job at a boat. He enjoys being on the boat for the most part, especially when his boss is not around and he gets the chance to drive the boat and spend time and play out on the dock. Though he likes being on the boat, he doesn’t like working in the kitchen in the boat, which is major part of his job on the boat.
</p>

<p>
Pete, Micky’s boss, is also a jolly fellow, and likes his boat. But he is mostly disgruntled with Micky for him not paying attention to his main tasks on the boat i.e. working in the kitchen.
</p>

<p>
Micky, in captain cabin, is happily running the boat (Micky-entertain-Micky), while Pete approaches him. Full of anger, Pete grabs Mickey to pull him away from the steering wheel, yells and orders Micky to get back to his work. Micky shows guilt and appear apologetic. But when Pete, disgruntled, turns to wheel to run the boat, Micky mocks him from behind and Pete hears him, turns around and kicks Micky out of captain cabin.
</p>

<p>
Parrot, Pete’s family member, finds Micky stumbling down the stairs out of captain cabin, knowing that Micky has been disciplined by Pete, Parrot laughs at Micky. Micky, full of resentment, throws a bucket full of water on Parrot.
</p>

<p>
Pete gets back to steering the boat and draws a chocolate bar/gum out of his pocket and looks at it with satisfaction and starts eating it. After chewing it, he spits it out and the wind blows it back. Pete appears surprised when he sees his saliva mixed with chocolate blows back, but finds it amusing when it hits the bell hanging from the top behind him. He repeats the process by spitting it again, but this time instead of passing by him, it blows back in his face and he feels it bad and frustrating.
</p>
<p>
Micky gets off the ship in order to load the cow on the ship waiting at the dock. Micky fastens the cow in the loop attached to the hook, but when he tries to lift it the cow almost falls out of it because the loop was too loose for her. Micky doesn’t like it and appear frustrated, he then thinks of an idea and makes the cow gulp a lot of fodder at once to make it fatter so it would fit in the belt attached to the crane easily. This works and Micky feels proud of himself.
</p>

<p>
Minnie who also has to catch the ship is late and as she arrives the dock, the ship already starts sailing. Minnie runs along the shore waving hands and shouting in distress to wait for her. Micky notices Minnie and feels bad for her. Micky uses the crane to lift Minnie into the moving ship and his idea works. 
</p>

<p>
Hungary goat notices Minnie’s music book and guitar and thinks she can eat it is edible.
</p>

<p>
Meanwhile, the crane hook which lifted Minnie into boat happens to see Minnie’s underpants and feels shame.
</p>

<p>
Minnie blushes when she sees Micky.
	Minnie sees goat eating her music book and guitar and feels distressed for losing it.
	Micky scolds the goat for her act. And when he tries to salvage the guitar that the goat is trying to eat, it makes the goat produce music. 
	Both Micky and Minnie start making music with the pets on-board.
</p>
<p>
At the end of music making sequence Micky proudly bows down to accept the applause he deserves on making such a good music. Right at that time Pete comes to the dock and starts scolding Micky for 
not focusing on work and orders him to go to Kitchen and peel potatoes. Micky obliges and feels sad about his fate, sitting in the kitchen peeling potatoes instead of enjoying out on the dock 
with Minnie. Parrot notices Micky and starts laughing at him, Micky disgruntled, out of frustration hits the parrot with a potato and laughs at him as he fells down.
</p>
</div>
<div class="col-lg-6">
<h2>ACT Events in Sub-Verb-Obj Format</h2>
<p>Micky ,entertain,Micky</p> 
<p>Micky ,play with,Micky</p> 
<p>Pete ,approach,Micky</p> 
<p>Pete ,grab,Micky</p> 
<p>Pete ,discipline,Micky</p> 
<p>Pete ,order,Micky</p> 
<p>Pete ,look away from,Micky</p> 
<p>Micky ,jeer at,Pete</p> 
<p>Pete ,kick,Micky</p> 
<p>Parrot ,laugh at,Micky</p> 
<p>Micky ,hit,Parrot</p> 
<p>Pete ,treat,Pete</p> 
<p>Pete ,surprise,Pete</p> 
<p>Pete ,hurt,Pete</p> 
<p>Micky ,flunk,Micky</p> 
<p>Micky ,snarl at,Micky</p> 
<p>Micky ,tackle,Micky</p> 
<p>Micky ,congratulate,Micky</p> 
<p>Micky ,praise,Micky</p> 
<p>Minnie ,flunk,Minnie</p> 
<p>Minnie ,tug,Minnie</p> 
<p>Minnie ,grapple with,Minnie</p> 
<p>Micky ,sympathize with,Minnie</p> 
<p>Micky ,save,Minnie</p> 
<p>Minnie ,flirt with,Micky</p> 
<p>Minnie ,distract,Minnie</p> 
<p>Minnie ,surprise,Minnie</p> 
<p>Minnie ,implore,Micky</p> 
<p>Micky ,help,Minnie</p> 
<p>Micky ,serenade,Minnie</p> 
<p>Micky ,entertain,Minnie</p> 
<p>Minnie ,entertain,Micky</p> 
<p>Micky ,entertain,Micky</p> 
<p>Minnie ,entertain,Minnie</p> 
<p>Micky ,applaud,Micky</p> 
<p>Micky ,ignore,Pete</p> 
<p>Pete ,yell at,Micky</p> 
<p>Pete ,order,Micky</p> 
<p>Pete ,restrain,Micky</p> 
<p>Micky ,submit to,Pete</p> 
<p>Pete ,walk out on,Micky</p> 
<p>Micky ,torment,Micky</p> 
<p>Micky ,suck up to,Micky</p> 
<p>Micky ,work,Micky</p> 
<p>Parrot ,smirk at,Micky</p> 
<p>Micky ,glower at,Parrot</p> 
<p>Micky ,sock,Parrot</p> 
<p>Micky ,laugh at,Parrot</p> 
</div>

<div class="col-lg-12">
<h2>Video Frames with ACT Events</h2>
    <table border=1>
      <tr>
        <td style="padding:10px;">Time</td>
        <th style="padding:10px;">Screenshot</th>
        <th style="padding:10px;">ACT Sub-Verb-Obj</th>
        
      </tr>
      <tr>
        <td style="padding:10px;">0:00 </td>
        <td style="padding:10px;"> <%= image_tag "image-0012.jpeg" %></td>

        <td style="padding:10px;"> </td>

      </tr>
      <tr>
        <td style="padding:10px;">0:34 </td>
        <td style="padding:10px;"> <%= image_tag "image-0062.jpeg" %></td>
        <td style="padding:10px;"> Mickey,entertain,Mickey </td>

      </tr>
      <tr>
        <td style="padding:10px;">1:00 </td>
        <td style="padding:10px;"> <%= image_tag "image-0104.jpeg" %></td>
        <td style="padding:10px;"> 
          Pete, approach, Mickey 
          <br/><br/>
          Pete, grab, Mickey
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">1:05 </td>
        <td style="padding:10px;"> <%= image_tag "image-0114.jpeg" %></td>
        <td style="padding:10px;">Pete, grab, Mickey</td>

      </tr>
      <tr>
        <td style="padding:10px;">1:07 </td>
        <td style="padding:10px;"> <%= image_tag "image-0125.jpeg" %></td>

        <td style="padding:10px;">
          Pete, discipline, Mickey<br/><br/>
          Pete, order, Mickey
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">1:13 </td>
        <td style="padding:10px;"> <%= image_tag "image-0137.jpeg" %></td>
        <td style="padding:10px;">Mickey, jeer at, Pete</td>
      </tr>
    </table>
    <table border=1>
      <tr>
        <th style="padding:10px;">Time</th>
        <th style="padding:10px;">Screenshot</th>
        
        
        <th style="padding:10px;">ACT Sub-Verb-Obj</th>
        
      </tr>
      <tr>
        <td style="padding:10px;">1:25 </td>
        <td style="padding:10px;"> <%= image_tag "image-0168.jpeg" %></td>
        <td style="padding:10px;">Parrot, laugh at, Mickey</td>

      </tr>
      <tr>
        <td style="padding:10px;">1:40 </td>
        <td style="padding:10px;"> <%= image_tag "image-0189.jpeg" %></td>

        <td style="padding:10px;">Pete, treat, Pete</td>

      </tr>
      <tr>
        <td style="padding:10px;">2:02 </td>
        <td style="padding:10px;"> <%= image_tag "image-0222.jpeg" %></td>

        <td style="padding:10px;">Pete, surprise, Pete</td>

      </tr>
      <tr>
        <td style="padding:10px;">2:11 </td>
        <td style="padding:10px;"> <%= image_tag "image-0240.jpeg" %></td>

        <td style="padding:10px;">Pete, hurt, Pete</td>

      </tr>
      <tr>
        <td style="padding:10px;">2:41 </td>
        <td style="padding:10px;"> <%= image_tag "image-0314.jpeg" %></td>

        <td style="padding:10px;">Mickey, flunk, Mickey</td>

      </tr>
    </table>
    <table border=1>
      <tr>
        <th style="padding:10px;">Time</th>
        <th style="padding:10px;">Screenshot</th>
        
        
        <th style="padding:10px;">ACT Sub-Verb-Obj</th>
        
      </tr>
      <tr>
        <td style="padding:10px;">2:52 </td>
        <td style="padding:10px;"> <%= image_tag "image-0337.jpeg" %></td>
        <td style="padding:10px;">
          Mickey, snarl at, Mickey<br/><br/>
          Mickey, tackle, Mickey
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">3:01 </td>
        <td style="padding:10px;"> <%= image_tag "image-0354.jpeg" %></td>

        <td style="padding:10px;">
          Mickey, congratulate, Mickey <br/><br/>
          Mickey, praise, Mickey
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">3:05 </td>
        <td style="padding:10px;"> <%= image_tag "image-0367.jpeg" %></td>

        <td style="padding:10px;">
          Minnie, flunk, Minnie<br/><br/>
          Minnie, grapple with, Minnie</td>
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">3:23 </td>
        <td style="padding:10px;"> <%= image_tag "image-0396.jpeg" %></td>
        <td style="padding:10px;"> Mickey, sympathize with, Minnie</td>

      </tr>
      <tr>
        <td style="padding:10px;">3:33 </td>
        <td style="padding:10px;"> <%= image_tag "image-0418.jpeg" %></td>
        <td style="padding:10px;">Mickey, save, Minnie</td>

      </tr>
    </table>
    <table border=1>
      <tr>
        <th style="padding:10px;">Time</th>
        <th style="padding:10px;">Screenshot</th>
        
        
        <th style="padding:10px;">ACT Sub-Verb-Obj</th>
        
      </tr>
      <tr>
        <td style="padding:10px;">3:53 </td>
        <td style="padding:10px;"> <%= image_tag "image-0458.jpeg" %></td>
        <td style="padding:10px;">Minnie, flirt, Mickey</td>

      </tr>
      <tr>
        <td style="padding:10px;">3:54 </td>
        <td style="padding:10px;"> <%= image_tag "image-0461.jpeg" %></td>

        <td style="padding:10px;"> 
          Minnie, distract, Minnie <br/><br/>
          Minnie, surprise, Minnie 
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">4:09 </td>
        <td style="padding:10px;"> <%= image_tag "image-0492.jpeg" %></td>
        <td style="padding:10px;">Mickey, help, Minnie</td>

      </tr>
      <tr>
        <td style="padding:10px;">4:27 </td>
        <td style="padding:10px;"> <%= image_tag "image-0525.jpeg" %></td>

        <td style="padding:10px;">
          Mickey, serenade, Minnie<br/><br/>
          Minnie, entertain, Mickey
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">4:37 </td>
        <td style="padding:10px;"> <%= image_tag "image-0540.jpeg" %></td>
        <td style="padding:10px;">Minnie, entertain, Minnie</td>

      </tr>
    </table>
    <table border=1>
      <tr>
        <th style="padding:10px;">Time</th>
        <th style="padding:10px;">Screenshot</th>
        
        
        <th style="padding:10px;">ACT Sub-Verb-Obj</th>
        
      </tr>
      <tr>
        <td style="padding:10px;">5:10 </td>
        <td style="padding:10px;"> <%= image_tag "image-0570.jpeg" %></td>
        <td style="padding:10px;">Mickie, entertain, Mickey</td>

      </tr>
      <tr>
        <td style="padding:10px;">6:35 </td>
        <td style="padding:10px;"> <%= image_tag "image-0781.jpeg" %></td>
        <td style="padding:10px;">Mickey, applaud, Mickey</td>        

      </tr>
    </table>
    <table border=1>
      <tr>
        <th style="padding:10px;">Time</th>
        <th style="padding:10px;">Screenshot</th>
        
        
        <th style="padding:10px;">ACT Sub-Verb-Obj</th>
        
      </tr>
      <tr>
        <td style="padding:10px;">6:37 </td>
        <td style="padding:10px;"> <%= image_tag "image-0791.jpeg" %></td>
        <td style="padding:10px;">
          Mickey, ignore, Pete<br/><br/>
          Pete, yell at, Mickey<br/><br/>
        </td>

      </tr>
      <tr>
        <td style="padding:10px;">6:39 </td>
        <td style="padding:10px;"> <%= image_tag "image-0810.jpeg" %></td>
 
        <td style="padding:10px;">
          Pete, order, Mickey<br/><br/>
          Pete, restrain, Mickey
        </td>
 
      </tr>
      <tr>
        <td style="padding:10px;">6:58 </td>
        <td style="padding:10px;"> <%= image_tag "image-0818.jpeg" %></td>
 
        <td style="padding:10px;">
          Mickey, submit to, Pete<br/><br/>
        </td>
       </tr>
      <tr>
        <td style="padding:10px;">7:06 </td>
        <td style="padding:10px;"> <%= image_tag "image-0847.jpeg" %></td>
 
        <td style="padding:10px;">
          Mickey, work, Mickey<br/><br/>
          Parrot, smirk at, Mickey
        </td>
 
      </tr>
      <tr>
        <td style="padding:10px;">7:14 </td>
        <td style="padding:10px;"> <%= image_tag "image-0865.jpeg" %></td>
 
        <td style="padding:10px;">
          Mickey, sock, Parrot <br/><br/>
          Mickey, laugh at, Parrot
        </td>
 
      </tr>
    </table>

    <h3>References:</h3>
    <ul>
      <li>
        Analysis of Steamboat Willie using OCC Model of Emotions done by J. Hoey
        <a href="https://cs.uwaterloo.ca/~jhoey/SteamboatWillie/OCCSteamboatWillie.html" target="_blank">
          https://cs.uwaterloo.ca/~jhoey/SteamboatWillie/OCCSteamboatWillie.html
        </a>
      </li>
    </ul>
</div>
